server:
  ingress:
    enabled: true
    hostname: argo.127.0.0.1.nip.io
    annotations:
      cert-manager.io/cluster-issuer: local-ca-issuer
    backend:
      service:
        port:
          number: 80

controller:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

redis:
  image:
    repository: redis
    tag: 7.4.1-alpine

repoServer:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
