# infra/apps/hello/values.yaml
# Valores base para la aplicación hello

replicaCount: 1

image:
  repository: hashicorp/http-echo
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5678

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: hello.{{ .Environment.Values.network.domain }}
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: wildcard-minikube-tls
      hosts:
        - hello.{{ .Environment.Values.network.domain }}
  entryPoints:
    - websecure

app:
  message: "¡Hola desde el cluster!"
