

extraObjects:
  # ClusterIssuer Let's Encrypt usando Cloudflare DNS
  - |
    apiVersion: cert-manager.io/v1
    kind: ClusterIssuer
    metadata:
      name: letsencrypt-prod
    spec:
      acme:
        email: "admin@albertperez.dev"
        server: https://acme-v02.api.letsencrypt.org/directory
        privateKeySecretRef:
          name: letsencrypt-prod
        solvers:
          - dns01:
              cloudflare:
                email: "admin@albertperez.dev"
                apiTokenSecretRef:
                  name: cloudflare-api-token
                  key: api-token
