environments:
  minikube: {}
  netcup: {}

---
repositories:
  - name: openebs-localpv
    url: https://openebs.github.io/dynamic-localpv-provisioner

releases:
  - name: storage
    namespace: openebs
    createNamespace: true
    chart: openebs-localpv/localpv-provisioner
    version: {{ env "STORAGE_CHART_VERSION" }}
    values:
      - values.yaml
      - ../../envs/{{ .Environment.Name }}/storage-values.yaml
    wait: true
    timeout: 300
